nav{
    position: relative;
    display: flex;
    justify-content: flex-end;
    

    ul{
        position: absolute;
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        color: white;
        height: 100vh;
        width: 180px;
        background-color: $interactive-components;
        // file:///home/lian/Documents/Developpement/VScode/devfromscratch/JavaScript-2-DOM/TP4-Sidebar/index.html
        
       li{
        margin: 0 auto;
        }
    }
}




