
#next{
    color: black;
}


#section1{
    button{

    font-size: 1.2rem;
    padding: 4px 10px;
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    outline: none;
    
    }
    #start{
        background-color: green;
        &:hover{
            font-size: 1.4rem;   
            
           }
        &:active{
            font-size: 1.7rem;
        }
    }
    
}

// ---------------------
// toggle sidebars

.inactive-btn{
    background-color: transparent;
}

.toggle-btn {
    position: absolute;
    top: 30px;
    left: 240px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
#right-btn {
    left: calc(100% - 300px);
}
.toggle-btn span {
    width: 50px;
    height: 8px;
    border-radius: 5px;
    background: whitesmoke;
    display: block;
    margin-top: 4px;
    transition: 0.3s ease;
}

li:hover {
    background: #292929;
    cursor: pointer;
}

.active span { /* quand classe .active, met les span en absolute */
    position: absolute;
    
  }
.active span:nth-child(1) {
    transform: rotate(45deg);
}
.active span:nth-child(2) {
    opacity: 0;
}
.active span:nth-child(3) {  
    transform: rotate(-45deg);
}
 
/*
.active ~ .content { 
    // si la classe .active existe, alors sur la classe .content :
    opacity: 0.3;
}
*/
